/* MAIN CONTAINERS */
.main-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
	height: 100vh;
	overflow: hidden;
	background-color: #fff;
}
.left-container {
	width: 30%;
}
.right-container {
	width: 70%;
	background-color: #242424;
}
.inline-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.inline-container-fixed {
	display: flex;
	flex-direction: row;
	width: 99%;
	position: sticky;
	top: 0;
	background-color: #333333;
}
.column-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.mini-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 10px;
}
.small-text {
	color: #fff;
}
.label-left {
	width: 50%;
	color: #878787;
	padding: 8px;
	font-weight: bold;
}
.label-right {
	width: 50%;
	padding: 8px;
	text-align: right;
	color: #878787;
}
.label-left-white {
	width: 50%;
	color: #fff;
	padding: 8px;
	font-weight: bold;
}
.label-right-white {
	width: 50%;
	padding: 8px;
	text-align: right;
	color: #fff;
}
/* LEFT CONTENT */
/* SEARCH */
.search-container {
	height: 60px;
	background-color: #242424;
	border-right: 0.3px solid #575757;
	width: 100%;
}
.input-container {
	padding: 10px;
	/* background-color:cornflowerblue; */
	width: 85%;
	height: 100vh;
}
.input {
	width: 100%;
	padding: 10px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 20px;
	box-sizing: border-box;
}
.search-icon-container {
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.plus-icon {
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
}

/* LEFT ICONS  */
.left-content-container {
	display: flex;
	flex-direction: row;
	background-color: #333333;
	border-right: 0.3px solid #575757;
}
.left-icons-list-container {
	display: flex;
	flex-direction: column;
	border-right: 1px solid #575757;
	width: 75px;
	height: 100vh;
}
.icon-container {
	height: 55px;
	width: 55px;
	background-color: rgba(189, 189, 189, 0.2);
	border-radius: 5px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}
.icon-container-active {
	height: 55px;
	width: 55px;
	background-color: #e3e3e3;
	border-radius: 5px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}
.left-icons {
	height: 30px;
	width: 30px;
	padding: 10px;
}
.left-message-list-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	/* background-color: chartreuse; */
}
.left-icon-absolute-container {
	height: 55px;
	width: 55px;
	background-color: rgba(84, 185, 196, 0.5);
	border-radius: 50%;
	position: absolute;
	bottom: 10px;
	left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.left-icons-circle {
	height: 30px;
	width: 30px;
}

/* TOP PROFILE LISTS */
.profile-list-container {
	display: flex;
	flex-direction: row;
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	/* border: 0.3px solid #404040; */
}

.large-icon-container {
	height: 55px;
	width: 55px;
	border: 1px solid #ccc;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 8px;
}
.large-profile-container {
	height: 55px;
	width: 55px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	overflow: hidden;
	margin-bottom: 8px;
}
.large-plus-icon {
	height: 25px;
	width: 25px;
}
.small-user-pic {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

/* STARRED MESSAGE */
.starred-msg-container {
	display: flex;
	flex-direction: column;
	padding: 1px;
	max-height: 300px;
	/* overflow: hidden;
  overflow-y: scroll; */
	width: 100%;
}
.chat-list-container {
	display: flex;
	flex-direction: row;
	padding: 10px;
	width: 100%;
}
.chat-profile-container {
	width: 15%;
}
.chat-desc-container {
	width: 85%;
	border-bottom: 0.3px solid #404040;
}
.msg-preview-container {
	padding-left: 10px;
	width: 95%;
	height: 30px;
}
.msg-preview {
	color: #fff;
	white-space: nowrap;
	width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.msg-preview-inactive {
	color: ##d1d1d1;
	white-space: nowrap;
	width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* REGULAR MESSAGE */
.regular-msg-container {
	display: flex;
	flex-direction: column;
	height: 70%;
	width: 100%;
}

/* RIGHT CONTENT */
/* USER PROFILE */
.user-profile-container {
	display: flex;
	flex-direction: row;
	height: 12vh;
	width: 100%;
}
.inline-right-content {
	display: flex;
	flex-direction: row;
  width: 50%;
}
.inline-left-content {
	display: flex;
	flex-direction: row;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
.small-round-button{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgba(189, 189, 189, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-icon{
  height: 10px;
  width: 10px;
}
.user-profile-picture{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-profile-detail{
  width: 80%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.user-name{
  font-weight: bold;
  color: #fff;
  margin-bottom: 8px;
}
.user-description{
  color: #878787;
}
/* USER CHAT CONTENT */
.user-chat-container {
	display: flex;
	flex-direction: column;
	/* border-top: 0.3px solid #575757; */
	border-bottom: 0.3px solid #575757;
	height: 80vh;
	width: 100%;
}
.chat-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  height: 100vh;
}
.received-chat-container{
  width: 100%;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-start;
}
.received-bubble-chat{
  background-color:#080808 ;
  padding:8px;
  color:#fff;
  border-radius: 10px;
  max-width: 400px;
}
.sent-chat-container{
  width: 100%;
  padding-top: 10px;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
}
.sent-bubble-chat{
  background-color:#4d3d7a;
  padding:8px;
  color:#fff;
  border-radius: 10px;
  max-width: 400px;
}
/* INPUT MESSAGE TEXT */
.write-chat-container {
	display: flex;
	flex-direction: row;
	height: 8vh;
	width: 100%;
}
.medium-round-button{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(189, 189, 189, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.medium-round-white-button{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.medium-icon{
  height: 20px;
  width: 20px;
}
.small-icon{
  height: 15px;
  width: 15px;
}
.medium-icon-container{
  width: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}